*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #212224;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
}

.cabecalho-imagem{
    width: 25%;
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 32px;
    font-size: 32px;
}

* {
    margin: 0 16px;
    padding: 24px 0;
    }